.card-img-overlay, .col-3, .col-9, .book, .col-md-3 {
    padding: 0;
}

div.container, h1, h5 {
    margin: 0;
}

.book:hover {
    background-color: #F5F5F5;
}

.active {
    background-color: #F5F5F5;
}

button {
    outline: none !important;
}

.btn-full {
    width: '100%'
}